
body {
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  box-shadow: 0px 2px 95px 0px rgba(0,0,0,0.1);
  z-index: 50;
  margin: 5px;
}
#leftbar {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  padding: 10px;
}
#leftbar button {
  display: block;
}



/* buttons from skeleton.css */
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

  