
body {
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  box-shadow: 0px 2px 95px 0px rgba(0,0,0,0.1);
  z-index: 50;
  margin: 5px;
}
#leftbar {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  padding: 10px;
}
#leftbar button {
  display: block;
}